<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cu">
<!--  select의 결과를 받기위해서 타입 지정 필수
		update, insert, delete는 숫자형태로 성공여부가 나오니 , resultType 없어도 됨 -->
	<select id="list" resultType="customer.CustomerVO">
	select*from customer
	
	</select>
	
	<select id="detail" resultType="customer.CustomerVO">
		SELECT * FROM CUSTOMER WHERE ID= #{id}
	</select>
  
  <select id="update">
   update customer set email = #{email},phone=#{phone}
   where id=#{id}
  </select>
  
	<insert id ="insert">
	insert into customer (id,name,email,phone)
	values(#{id},#{name},#{email},#{phone})
	</insert>
 
  
</mapper>